.layout {
  & .layout-1 {
    & .layout-top {
      position: fixed;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
  & .layout-2top {
    display: grid;
    grid-gap: 0;
    height: 100%;
    grid-template-columns: auto;
  }
  & .layout-2left {
    display: grid;
    grid-gap: 0;
    height: 100%;
    grid-template-columns: auto auto;
  }

  & .layout-3left {
    display: grid;
    grid-gap: 0;
    height: 100%;
    grid-template-rows: auto auto auto;
    & .layout-center {
      display: grid;
      grid-gap: 0;
      width: 100%;
      grid-template-columns: auto;
    }
  }

  & .layout-3right {
    display: grid;
    grid-gap: 0;
    height: 100%;
    grid-template-rows: auto auto auto;
    & .layout-center {
      display: grid;
      grid-gap: 0;
      width: 100%;
      grid-template-columns: auto;
    }
  }

  & .layout-4 {
    display: grid;
    grid-gap: 0;
    height: 100%;
    grid-template-rows: auto auto auto;
    & .layout-center {
      display: grid;
      grid-gap: 0;
      width: 100%;
      grid-template-columns: auto auto;
    }
  }
}
